/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-color: #fff;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--text-weight);
  font-size: 18px;
}

.header {
  outline: 2px solid #000;
  width: var(--content-width);
  aspect-ratio: 700 / 368;
  margin: 100px auto 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header__logo {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  gap: 20px;
  align-items: center;
}

.header__logo-main {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  flex-grow: 1;
}

.header__logo-subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid #000;
  width: var(--content-width);
  margin: 0 auto;
  background-color: #fff;
}

.card__title {
  font-variation-settings: 'wght' var(--title-weight);
  font-size: 18px;
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {

  .card__label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__text {
  line-height: 1.1667;
  margin-block-start: 25px;
  padding-inline: 25px;
}

.card__actions {
  margin-block: 25px;
  margin-inline: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  margin-block-end: 1px;
  cursor: pointer;
  inline-size: 38px;
  block-size: 38px;
  display: grid;
  place-items: center;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}

.button {
  position: relative;
  border: 2px solid var(--contour-color);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--contour-color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background: var(--contour-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  margin: auto;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.card__like-button {
  background: transparent;
  inline-size: 130px;
  block-size: 38px;
  margin-block-start: 1px;
}

.save-button {
  background-color: #fff;
  inline-size: 335px;
  block-size: 55px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-inline-start: 19px;
  padding-inline-end: 17px;
  margin: 0 auto 100px;
}

.save-button__icon {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog {
  border: 2px solid var(--contour-color);
  padding: 0;
  background: #fff;
  inline-size: 353px;
  block-size: 191px;
  position: fixed;
  inset: 0;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 100%;
}

.dialog__header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
}

.dialog__button {
  background: transparent;
  inline-size: 293px;
  block-size: 38px;
  margin: 0 auto;
  display: block;
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-hue-rotate {
  filter: hue-rotate(20deg);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(0.9);
}

.filter-multiple {
  filter: sepia(0.3) contrast(150%) hue-rotate(70deg) opacity(0.5);
}

@media (width <= 375px) {

  .save-button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
    gap: 8px;
    padding-inline: 0;
    padding-block-start: 15px;
  }

  .save-button .button__text {
    margin: 0;
    margin-block-end: 15px;
  }

  .save-button__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    inline-size: 349px;
  }

  .dialog__content {
    padding: 30px;
    gap: 30px;
  }

  .dialog__button {
    inline-size: 261px;
    block-size: 38px;
  }

  .header {
    inline-size: 375px;
    block-size: 327px;
    margin-block-end: 101px;
  }

  .card__title {
    line-height: 1.2;
  }

  .card__text {
    margin-block-start: 25.6px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .button:focus,
  .card__icon-button:focus {
    box-shadow: none;
    border-color: transparent;
  }

  .button:active::before {
    transform: scaleX(1);
  }
}